#root {
    padding: 2rem;
    font-family: 'Inter', sans-serif;
}

.App {
    font-size: large;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #aa0e0e;
    width: 65vmax;
    color: white;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 1px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 1px;
}

.header p {
    font-weight: 500;
    font-size: large;
}

.logo {
    width: 30px;
    margin-right: 10px;
}

svg path {
    fill: white;
}

.cards-list {
    border: 1px solid #A4A4A4;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 1200px;
    width: 865px;
    margin-left: 194px;
}

.CardContainer {
    margin-left: 10vh;
    margin-top: 15vh;
    border-top: 3px, solid, red;
}

.Card {
    text-align: justify;
    height: 250px;
}

.ContainerTexte {
    margin-left: 29vh;
    position: relative;
    top: -38vh;
}

.ContainerLocation {
    display: flex;
    flex-direction: row;
}

.CardLocation {
    font-size: smaller;
    padding-right: 10px;
}

.pin {
    width: 12px;
    fill: indianred;
}

.GoogleMaps {
    font-size: smaller;
    text-decoration: underline;
    color: grey;
}

.CardTitle {
    font-style: bold;
    font-weight: bolder;
    font-size: xx-large;
}

.CardDate {
    font-size: smaller;
    font-weight: bold;
}

.CardImg {
    height: 290px;
    width: 205px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
}